* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #6441a5;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: #FFF;
    margin: 20px 0;
}

.progress {
    height: 5px;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
}
.progress--bar {
    background-color: #00FF00;
    height: 100%;
    transition: all ease .4s;
}

.questionArea,
.scoreArea {
    display: none;
}

.questionArea {
    max-width: 500px;
    width: 100%;
}

.question {
    color: #FFF;
    font-size: 18px;
    margin: 20px 0;
}
.option {
    display: flex;
    align-items: center;
    height: 40px;
    background-color: #fff;
    border-radius: 10px;
    margin-bottom: 5px;
    color: #6441a5;
    font-size: 16px;
    cursor: pointer;
}
.option span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    margin-left: 5px;
    margin-right: 10px;
    background-color: #6441a5;
    color: #fff;
}
.option:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.scoreArea {
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;
    margin: 10px;
    text-align: center;
}
.prizeImage {
    width: auto;
    height: 100px;
    margin-bottom: 10px;
}
.scoreText1 {
    color: #000;
    font-size: 23px;
    font-weight: bold;
    margin-bottom: 10px;
}
.scorePct {
    color: #0d630d;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
}
.scoreText2 {
    font-size: 16px;
    color: #000;
    margin-bottom: 10px;
}

.scoreArea button {
    border: 0;
    border-radius: 10px;
    background-color: #6441a5;
    color: #fff;
    padding: 10px;
    margin-top: 20px;
    cursor: pointer;
}
.scoreArea button:hover {
    background-color: rgba(0, 0, 0, 0.4);
}

footer {
    margin-top: 20px;
    color: #FFF;
    font-size: 13px;
}

.option.correct {
    background-color: #00FF00; 
    color: #FFF;
}

.option.correct span {
    background-color: #00FF00; 
    color: #FFF;
}

.telainicial {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.telainicial button {
    width: 135px;
    height: 40px;
    font-size: 15px;
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 7px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
}

.telainicial button:hover {
    background-color: rgba(0, 0, 0, 0.2);
    border: 0;
}

.telainicial img {
    width: 150px;

}


.timer {
    font-size: 15px;
    color: #fff;
    align-items: center;
    margin-bottom: 10px;
}

.questionArea img {
    width: 200px;
    margin-left: 150px;
    margin-bottom: 50px;
}

@media (max-width: 600px) {
    body {
        font-size: 14px; 
    }

}

@media (hover: none) {
    .option:hover {
        background-color: transparent; 
    }
}
